<% if params.has_key?(:duration) %>
    <% if @duration_query %>
      <h3>Searched for movies <%= @duration_query %>.</h3>
    <% else %>
      <h3>Searched for "<%= @query %>".</h3>
    <% end %>
    <hr />
<% end %>
    <h3>Search</h3>
    <form id="searchbar" action="/search">
    <label name="title_or_director">Title or Director
    <input type="text" name="title_or_director"></input></label>
    <label name="title">Duration
    <%= select_tag 'duration', options_for_select(["choose one...", "under 90 minutes","between 90 and 120 minutes","over 120 minutes"]) %>
    </label>

    <input type="submit" name="Search" class="button"></input>
    </form>
    <hr />

<% if @movies && @movies.length > 0 %>
    <h4>Found <%= @movies.length %> <%= @movies.length == 1 ? "result" : "results" %></h4>
    <% @movies.each do |movie| %>
        <h2><%= link_to movie.title, movie_path(movie) %></h2>
        <h3><%= formatted_date(movie.release_date) %></h3>
        <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
        <p><%= truncate(movie.description, length: 400) %></p>
        <p><%= movie.review_average %>/10</p>
    <hr>
  <% end %>
<% else %>
<% if params.has_key? :title_or_director %>
    <h4>Sorry we couldn't find any search results.... </h4>
<% end %>
<% end %>